<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Welcome to {{title}}!!
  </h2>

  <h3 [ngStyle]="{'color':getBgColor()}">{{this.outputData}}</h3>
  <h3 [ngStyle]="{'color':bgColor}">{{this.outputData}}</h3>
  <!-- here we can't use {'color':'bgColor'} or {'color':'{{bgColor}}'} or or {'color':{{bgColor}}}-->
</div>
<label>Use upper directive </label>
<list-component [items]="['red','black','blue','purple']" (internalEmitter)="showItemColor($event)">Samuel Test List1</list-component>

<hr>
<label>Use myVisibility directive </label>
<list-component [items]="['red','black','blue','purple']" myvisibility>List2</list-component>


<hr>
<label>Use myVisibility2 directive, mycolor directive  </label>
<list-component [items]="['red','black','blue','purple']" [myvisibility2]="false">List2</list-component>


<hr>
<label>Use myVisibility3 directive </label>
<list-component [items]="['red','black','blue','purple']" [myvisibility3]="hide" >List2</list-component>
